.spotlt_container {
  position: relative;
  z-index: 10000;
  display: flex;
  align-items: center;
  justify-content: center;
  // do the colors dynamically....
  // color: spotlight.secondaryColor;
  //  background-color : spotlight.primaryColor;
  width: 100%;
  overflow: hidden;
  box-sizing: border-box;

  .spotlt_content {
    display: flex;
    max-width: 800px;
    justify-content: center;
    align-content: center;
    width: 100%;
    height: 60px;
    opacity: 1;
    transition-duration: 200ms;

    &.fadeout {
      opacity: 0;
    }
  }

  .video_container {
    position: absolute;
    top: 10px;
    right: -50px;
    width: 500px;
    height: 500px;
    background-color: transparent;
    z-index: 23423423;

    video {
      background-color: red;
    }
  }

  .spotlt_player_overlay {
    position: absolute;
    transition-duration: 100ms;
    z-index: 500;
    pointer-events: none;
    top: 0;
    left: 0;
    // background-color: spotlight.secondaryColor
    opacity: 0.1;
    width: 0%;
    height: 60px;
  }

  .spotlt_player {
    display: flex;
    max-width: 800px;
    flex-direction: column;
    align-content: center;
    width: 100%;

    .spotlt_time_bar {
      position: absolute;
      box-sizing: border-box;
      top: 0;
      left: 0;
      padding: 0 5px;
      display: flex;
      justify-content: space-between;
      width: 100%;

      .spotlt_time_number {
        font-size: 10px;
        line-height: 18px;
        font-weight: bold;
        font-family: Roboto, sans-serif;
        // color: spotlight.secondaryColor;
        padding: 0;
        margin: 0;
      }
    }

    .spotlt_controlRow {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      flex: 1;

      .spotlt_side_left {
        display: flex;
        justify-content: flex-start;
        flex: 1;

        .spotlt_dotdotdot {
          cursor: pointer;
          background-color: transparent;
          border: none;
          // color: spotlight.secondaryColor;
          display: flex;
          align-items: center;
          justify-content: space-around;
          height: 30px;
          width: 30px;
          padding: 0;

          .spotlt_dot {
            height: 6px;
            width: 6px;
            border-radius: 50%;
            //  background-color : spotlight.secondaryColor;
          }
        }
      }

      .spotlt_side_right {
        display: flex;
        justify-content: flex-end;
        flex: 1;

        &.mobile {
          .spotlt_middle_controls {
            justify-content: flex-end;
            width: unset;
          }

          .spotlt_custom_play_pause {
            flex: none;
            justify-content: center;
            width: 35px;
          }

          .spotlt_fwd5 {
            display: none;
          }
          .spotlt_back5 {
            transform: scale(0.85);
          }
        }

        .spotlt_middle_controls {
          display: flex;
          justify-content: space-around;
          align-items: center;
          height: 40px;
          width: 105px;

          .spotlt_fwd5 {
            margin: 0;
            padding: 0px 4px;
            position: relative;
            cursor: pointer;
            user-select: none;
          }
          .spotlt_back5 {
            margin: 0;
            padding: 0px 4px;
            position: relative;
            cursor: pointer;
            user-select: none;
          }
          .spotlt_fwd5_circle {
            height: 20px;
            width: 20px;
            box-sizing: border-box;
            border-radius: 50%;
            // border:  2px solid   + spotlight.secondaryColor;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 10px;
            font-family: Roboto, sans-serif;
          }
          .spotlt_fwd5_arrow {
            position: absolute;
            z-index: 3;
            top: -2px;
            box-sizing: border-box;
            left: 12px;
            height: 7px;
            width: 7px;
            // background: spotlight.primaryColor;
            border-width: 3px;
            border-style: solid;
            //  border-color :
            //    transparent transparent transparent   + spotlight.secondaryColor;
          }
          .spotlt_back5_arrow {
            position: absolute;
            box-sizing: border-box;
            z-index: 3;
            top: -2px;
            right: 12px;
            height: 7px;
            width: 7px;
            // background: spotlight.primaryColor;
            border-width: 3px;
            border-style: solid;
            //  border-color :
            //    transparent   +
            //   spotlight.secondaryColor +
            //     transparent transparent ;
          }

          .spotlt_custom_play_pause {
            flex: 1;
            cursor: pointer;
            display: flex;
            outline: none;
            justify-content: center;
            align-items: center;
            background-color: transparent;
            border: none;
            padding: 6px 0;

            .spotlt_custom_pause {
              display: flex;
              justify-content: space-between;
              align-content: center;
              width: 14px;
              transition-duration: 200ms;
              opacity: 1;

              .spotlt_custom_pause_bar {
                //  background-color : spotlight.secondaryColor;
                border-radius: 20px;
                width: 4px;
                height: 16px;
                cursor: pointer;
                pointer-events: none;
              }

              &.fadeout {
                opacity: 0;
              }
            }

            .spotlt_custom_play {
              display: flex;
              justify-content: center;
              align-content: center;
              box-sizing: border-box;
              width: 20px;
              position: relative;
              height: 20px;
              top: 0px;
              left: 7px;
              transition-duration: 200ms;
              opacity: 1;
              border-width: 11px;
              border-radius: 4px;
              border-style: solid;
              //  border-color :
              //    transparent transparent transparent   + spotlight.secondaryColor;

              &.fadeout {
                opacity: 0;
              }
            }
          }
        }
      }

      .spotlt_audio_cta {
        background-color: transparent;
        border-radius: 3px;
        box-sizing: border-box;
        cursor: pointer;
        margin: 0;
        padding: 3px 14px;
        transition-duration: 0.2s;
        font-weight: bold;
        font-size: 12px;
        font-family: Roboto, sans-serif;
        letter-spacing: 1.33px;
        display: flex;
        align-items: center;
        height: 28px;
        align-self: center;
        // color: spotlight.secondaryColor;
        // border:  2px solid   + spotlight.secondaryColor;
        text-decoration: none;
        &:hover {
          //  background-color : spotlight.secondaryColor;
          // color: spotlight.primaryColor;
          text-decoration: none;
        }
      }
    }
  }
}

.spotlt_cushion {
  height: 60px;
  width: 100%;
  background-color: transparent;
}
